# .github/workflows/release.yaml
name: Build Release

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'create tags version'
        required: true
        type: string

env:
  APP_NAME: gowallet
  GO_VERSION: 1.25.x
  GOCACHE: /home/runner/work/go/pkg/build
  GOPATH: /home/runner/work/go

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      # -----------------------
      # Build Linux version
      - name: Build linux_amd64 version
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o release/${{ env.APP_NAME }}_linux_amd64 main.go > ${{ github.workspace }}_linux_amd64-BUILDLOG.txt
      - name: Create linux_amd64.md5
        run: md5sum release/${{ env.APP_NAME }}_linux_amd64 | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_linux_amd64.md5
      - name: Create linux_amd64.sha256
        run: sha256sum release/${{ env.APP_NAME }}_linux_amd64 | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_linux_amd64.sha256

      # -----------------------
      # Build Windows version
      - name: Build windows_amd64 version
        run: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o release/${{ env.APP_NAME }}_windows_amd64.exe main.go > ${{ github.workspace }}_windows_amd64-BUILDLOG.txt
      - name: Create windows_amd64.md5
        run: md5sum release/${{ env.APP_NAME }}_windows_amd64.exe | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_windows_amd64.md5
      - name: Create windows_amd64.sha256
        run: sha256sum release/${{ env.APP_NAME }}_windows_amd64.exe | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_windows_amd64.sha256

      # -----------------------
      # Build macOS version
      - name: Build darwin_amd64 version
        run: CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o release/${{ env.APP_NAME }}_darwin_amd64 main.go >> ${{ github.workspace }}_darwin_amd64-BUILDLOG.txt
      - name: Create darwin_amd64.md5
        run: md5sum release/${{ env.APP_NAME }}_darwin_amd64 | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_darwin_amd64.md5
      - name: Create darwin_amd64.sha256
        run: sha256sum release/${{ env.APP_NAME }}_darwin_amd64 | cut -d ' ' -f 1 > release/${{ env.APP_NAME }}_darwin_amd64.sha256


      # -----------------------
      # Uploaded to GitHub Release
      - name: Upload files to release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ inputs.tags }}
          body: "This is ${{ inputs.tags }} release."
          files: release/*

      # -----------------------
      # Refresh the Go module in pkg.go.dev and proxy.golang.org
      - name: Refresh Go Module on pkg.go.dev
        run: |
          echo "Refreshing Go module for tag ${{ inputs.tags }}"
          MODULE_PATH="github.com/spark8899/gowallet"
          curl -X POST "https://proxy.golang.org/${MODULE_PATH}/@v/${{ inputs.tags }}.info" || echo "proxy.golang.org refresh failed"
          curl -X POST "https://pkg.go.dev/fetch/${MODULE_PATH}@${{ inputs.tags }}" || echo "pkg.go.dev refresh failed"
          echo "Refresh request sent."
